.option {
    height: 40px;
    padding: 0.5em;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.option:hover {
    background-color: var(--light-grey);
}

.option i {
    font-size: 20px;
}

.selected {
    font-weight: 900;
}