.container {
    padding: var(--padding-large); 
    height: 90px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;

    box-shadow: var(--box-shadow);
}

.container > * {
    border-color: transparent;
}

input[type="color"] {
    height: 38px;
    width: 60px;
    outline: 1px solid var(--light-grey);
}

button {
    height: 42px;
    width: 120px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: var(--border-radius);

    outline: 1px solid var(--light-grey);
    background-color: transparent;
    font-size: var(--fontsize-small);

    transition: all 0.1s;
}

button:hover {
    filter: brightness(0.8);
}

button:active {
    filter: brightness(0.5);
    transform: scale(0.99);
    background-image: linear-gradient(rgba(128, 128, 128, 0.1), rgba(128, 128, 128, 0.15));
}
