@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
    --light-grey: #D1D5DB;
    --grey: #9CA3AF;

    --padding-small: 8px 16px;
    --padding: 11px 13px;
    --padding-large: 20px 28px;

    --border-radius: 6px;

    --fontsize-small: 12px;
    --fontsize-medium: 1rem;

    --box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.15);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: "Inter", sans-serif;
}

.pageContainer {
    min-height : 100vh;

    display: grid;
    justify-content: center;
    align-items: center;
}

.appContainer {
    height: 550px;
    width: 550px;
    
    display: flex;
    flex-direction: column;

    box-shadow: var(--box-shadow);
    font-family: "Inter", sans-serif;

}

button, input {
    cursor: pointer;
}